// This is what I am going to use for working with compiling my CSS code
// The font will be used commonly
$font: Verdana, sans-serif;
$textColor: darkgreen;
$formText: 18pt;
@mixin fade-effect($duration) {
    $name: fadeIn;
    @keyframes #{$name} {@content;}
    // now for the animation
    animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: forwards;
}
@mixin slide-effect($duration) {
    $name: slide;
    @keyframes #{$name} {@content;}
    animation-name: $name;
    animation-duration: $duration;
    animation-fill-mode: forwards;
}
button {
    cursor: pointer;
}
.Title {
    font-size: 44pt;
    text-align: center;
    @include slide-effect(1s) {
        from {width: 0%;} to {width: 100%;}
    }
}
.Paragraph {
    font-size: 16pt;
    text-align: center;
    margin: 1% 15%;
    @include fade-effect(2s) {
        from {opacity: 0;} to {opacity: 1;}
    }
}
.Content {
    background-color: lightgray;
    padding: 2%;
    margin: 5% 2%;
    border: 2px solid black;
}
.Submit {
    width: 12%;
    padding: 1%;
    font-size: 20pt;
    border-radius: 15px;
    margin: 0% 45%;
}
.Title, .Paragraph, .Monitor {
    color: $textColor;
    font-family: $font;
}
.DataForm, .MonitorOptions {
    display: flex;
    @include fade-effect(2s) {
        from {opacity: 0;} to {opacity: 1;}
    }
}
.DataForm {
    flex-direction: column;
    margin: 1% 35%;
}
label {
    font-size: $formText;
}
.DataForm input {
    font-size: $formText;
    padding: 1%;
    margin: 2% 0%;
}
.DataForm #points, .DataForm #interval, .DataForm #port {
    width: 75%;
}
#interval-value {
    color: black;
    text-align: left;
    margin: 0% 0% 1% 1%;
}
.MonitorOptions label {
    margin: 2% 4% 2% 1%; /* margins => top, right, bottom, left */
}
.Monitor {text-align: center;}
.Linechart {
    margin: 4% 20%;
}